.all-ads-list {
	list-style-type: none;
}

.nav, .pagination, .carousel, .panel-title a, a {
	cursor: pointer;
}

.col-centered {
	float: none;
	margin: 0 auto;
	padding: 0 auto;
}

.footer {
	padding-left: 35%;
}

.btn-group-vertical {
	width: 110%;
}

input, h1, h2, h3, h4, h5, p, span, .btn-default{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:100%
}
