<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		</button>
		<a class="navbar-brand" href="#/home/">Ads App</a>
	</div>

	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#/login/">Login</a></li>
			<li><a href="#/register/">Register</a></li>

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Dropdown header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">Towns <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">Dropdown header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				</ul>
			</li>

		</ul>

		<form class="navbar-form navbar-right">
			<input type="text" class="form-control col-lg-8" placeholder="Search">
		</form>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Link</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<div class="all-ads-list">
			<ul ng-repeat="ads in adsData">
				<li ng-repeat="ad in ads" class="all-ads-list">
					{{ad.id}} - {{ad.title}} <br/>
					{{ad.date}} - {{ad.ownerName}} <br/>
					{{ad.ownerEmail}} - {{ad.ownerPhone}}
				</li>
			</ul>
		</div>
	</div>
</div>