<div>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-responsive-collapse">
			</button>
			<a class="navbar-brand" href="#/home/">Ads App</a>
		</div>

		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/login/">Login</a></li>
				<li><a href="#/register/">Register</a></li>
			</ul>
		</div>
	</div>

	<div class="jumbotron">
		<div class="row">
			<div class="col-md-8 ">
				<ul class="all-ads-list">
					<li dir-paginate="ad in adsData.ads | filter: query | itemsPerPage: adsPerPage"
						total-items="totalAds" class="well">
						{{ad.id}} - {{ad.title}} <br/>
						{{ad.date}} - {{ad.ownerName}} <br/>
						{{ad.ownerEmail}} - {{ad.ownerPhone}}
					</li>
				</ul>
			</div>

			<div class="col-md-4">
				<div class="btn-group open col-md-6">
					<a class="btn btn-primary">Categories</a>
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
					   aria-expanded="true"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">All</a></li>
						<li ng-repeat="categories in categoriesData">
							<a href="#">{{categories.name}}</a>
						</li>
					</ul>
				</div>
				<div class="btn-group open col-md-6">
					<a class="btn btn-primary">Town</a>
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
					   aria-expanded="true"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">All</a></li>
						<li ng-repeat="towns in townsData">
							<a href="#">{{towns.name}}</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<div class="row pagination-div">
		<div class='col-md-4 col-sm-10 col-xs-12 col-centered'>
			<dir-pagination-controls
					boundary-links="true" on-page-change="pageChanged(newPageNumber)"
					template-url="templates/dirPagination.tpl.html">
			</dir-pagination-controls>
		</div>
	</div>
</div>
