<div class="col-lg-6 col-centered">
	<form class="form-horizontal" name="loginForm">
		<fieldset>
			<legend>Ads Login</legend>
			<div class="form-group">
				<label for="userName" class="col-lg-2 control-label">Username</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="userName" placeholder="Username" required
						   ng-model="credentials.username">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-lg-2 control-label">Password</label>

				<div class="col-lg-10">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password" required
						   ng-model="credentials.password">
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button name="login" ng-click="login(credentials, loginForm)" type="submit" class="btn btn-primary"
							ng-disabled="loginForm.$invalid" ng-click="login()">
						Login
					</button>
					<a class="btn btn-link" href="#/register">Register here</a>
					<a class="btn btn-link" href="#/home">Cancel</a>
				</div>
			</div>
		</fieldset>
	</form>
</div>
