<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-responsive-collapse">
		</button>
		<a class="navbar-brand" href="#/home/">Ads - Home</a>
	</div>

	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#/login/">Login</a></li>
			<li><a href="#/register/">Register</a></li>
		</ul>
	</div>
</div>

<div class="col-lg-6 col-centered">
	<form class="form-horizontal">
		<fieldset>
			<legend>Ads Login</legend>
			<div class="form-group">
				<label for="userName" class="col-lg-2 control-label">Username</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="userName" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-lg-2 control-label">Password</label>

				<div class="col-lg-10">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="submit" class="btn btn-primary">Login</button>
					<button class="btn btn-default">Register here</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>