<div class="col-lg-6 col-centered">
	<form class="form-horizontal">
		<fieldset>
			<legend>Ads Login</legend>
			<div class="form-group">
				<label for="userName" class="col-lg-2 control-label">Username</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="userName" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-lg-2 control-label">Password</label>

				<div class="col-lg-10">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button class="btn btn-default">Register here</button>
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>