<div class="col-lg-8 col-centered">
	<form class="form-horizontal">
		<fieldset>
			<legend>Register</legend>
			<div class="form-group">
				<label for="userName" class="col-lg-2 control-label">Username</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="userName" placeholder="Username">
				</div>
			</div>

			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Name</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputName" placeholder="Full name">
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Email</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputEmail" placeholder="Email">
				</div>
			</div>

			<div class="form-group">
				<label for="inputPassword" class="col-lg-2 control-label">Password</label>

				<div class="col-lg-10">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>


			<div class="form-group">
				<label for="confirmPassword" class="col-lg-2 control-label ">Confirm password</label>

				<div class="col-lg-10">
					<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
				</div>
			</div>


			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button class="btn btn-default">Login</button>
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>