<!--// TODO: Add Redirection and error checks-->

<div class="col-lg-8 col-centered">
	<form class="form-horizontal" name="registerForm">
		<fieldset>
			<legend>Register</legend>
			<div class="form-group">
				<label for="userName" class="col-lg-2 control-label">
					Username<b class="text-danger">*</b>
				</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="userName"
						   placeholder="Username" required ng-model="credentials.username">
				</div>
			</div>

			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">
					Name<b class="text-danger">*</b>
				</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputName"
						   placeholder="Full name" required ng-model="credentials.name">
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">
					Email<b class="text-danger">*</b>
				</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputEmail"
						   placeholder="Email" required ng-model="credentials.email">
				</div>
			</div>

			<div class="form-group">
				<label for="inputPhone" class="col-lg-2 control-label">
					Phone<b class="text-danger">*</b>
				</label>

				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputPhone"
						   placeholder="Phone" required ng-model="credentials.phone">
				</div>
			</div>

			<div class="form-group ">
				<label class="col-lg-2 control-label">Town</label>

				<div class="col-lg-10">
				<select class="form-control" id="select" name="town" ng-model="credentials.town" >
					<option value="" disabled selected>Select your option</option>
					<option ng-repeat="town in townsData" value="{{town.id}}">{{town.name}}</option>
				</select>
				</div>
			</div>

			<div class="form-group">
				<label for="inputPassword" class="col-lg-2 control-label">
					Password<b class="text-danger">*</b>
				</label>

				<div class="col-lg-10">
					<input type="password" class="form-control" id="inputPassword"
						   placeholder="Password" required ng-model="credentials.password">
				</div>
			</div>

			<div class="form-group">
				<label for="confirmPassword" class="col-lg-2 control-label ">
					Confirm password<b class="text-danger">*</b>
				</label>

				<div class="col-lg-10">
					<input type="password" class="form-control" id="confirmPassword"
						   placeholder="Confirm password" required ng-model="credentials.confirmPassword">
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button name="login" ng-click="register(credentials, registerForm)" type="submit"
							class="btn btn-primary"
							ng-disabled="loginForm.$invalid" ng-click="login()">
						Register
					</button>
					<a class="btn btn-default" href="#/login">Login</a>
					<a class="btn btn-default" href="#/home">Cancel</a>
				</div>
			</div>
		</fieldset>
	</form>
</div>