<div class="jumbotron col-lg-8 col-centered">
	<form name="newAdForm">
		<fieldset>
			<legend class="text-center">Publish New Ad</legend>
			<div class="row">
				<div class="col-lg-8">

					<div class="form-group">
						<label for="title" class="col-lg-3">
							Title<b class="text-danger">*</b>
						</label>

						<div class="col-lg-9 ">
							<input type="text" name="title" class="form-control"
								   id="title" placeholder="Title" ng-model="newAdData.title" required>
						</div>
					</div>

					<div class="form-group">
						<label for="text" class="col-lg-3">
							Text<b class="text-danger">*</b>
						</label>

						<div class="col-lg-9">
						<textarea class="form-control" rows="5" id="text" name="text" ng-model="newAdData.text"
								  placeholder="Ad description..." required>
						</textarea>
						</div>
					</div>
				</div>
				<div class="col-lg-3 ">
					<img src="./img/no_image_available.svg" alt=""
						 class="ad-image img-responsive">
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="form-group">
						<label for="image" class="col-lg-3">
							Image:
						</label>

						<div class="col-lg-9">
							<input type="file" multiple="" id="image" class="form-control"
								   onchange="angular.element(this).scope().fileSelected(this)"/>
						</div>
					</div>

					<div class="form-group">
						<label for="selectTown" class="col-lg-3">Town:</label>

						<div class="col-lg-9">
							<select class="form-control" id="selectTown" ng-model="newAdData.townId">
								<option value="{{nullValue}}" selected>None</option>
								<option ng-repeat="town in townsData" value="{{town.id}}">{{town.name}}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="selectCategory" class="col-lg-3 control-label">Category:</label>

						<div class="col-lg-9">
							<select class="form-control" id="selectCategory" ng-model="newAdData.categoryId">
								<option value="{{nullValue}}" selected>None</option>
								<option ng-repeat="category in categoriesData" value="{{category.id}}">{{category.name}}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button name="login" ng-click="publishAd(newAdData,newAdForm)" type="submit" class="btn btn-primary"
							ng-disabled="newAdForm.$invalid">Submit
					</button>
					<a class="btn btn-link" href="#/user/ads">Cancel</a>
				</div>
			</div>
		</fieldset>
	</form>
</div>