<div>
	<div class="jumbotron col-lg-10 col-centered">
		<div class="row col centered" ng-if="noAdsToDisplay">
			<h2 class="text-info text-center">No ads!</h2>
		</div>

		<div class="row">
			<div class="col-lg-8">
				<ul class="all-ads-list">
					<li dir-paginate="ad in userAdsData.ads | filter: query | itemsPerPage: adsPerPage"
						total-items="totalAds" class="well">
						<div class="row">
							<div class="col-lg-8 ">
								<h3 class="ad-title">{{ad.title}}</h3>
							</div>
							<div class="col-lg-4 pull-right">
								<span class="text-info pull-right"> {{ad.date | date:"EEE dd-MMM-yyyy"}} </span>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 ad-image-container">
								<img src="../img/no_image_available.svg" ng-src="{{ad.imageDataUrl}}" alt=""
									 class="ad-image img-responsive">
							</div>
							<div class="col-lg-8">
								<p class="well well-sm ad-info-paragraph"> {{ad.text}} </p>

								<div class="row">
									<div class="col-lg-2 ad-info-text"><strong>Category: </strong></div>
									<div class="col-lg-9  well well-sm">{{ad.categoryName ? ad.categoryName : 'Not available'}}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-2 ad-info-text"><strong>Towns </strong></div>
									<div class="col-lg-9  well well-sm">{{ad.townName ? ad.townName : 'Not available'}}
									</div>
								</div>
								<div class="row">
									<div class="col-lg-2 ad-info-text"><strong>Status:</strong></div>
									<div class="col-lg-9  well well-sm">{{ad.status}}</div>

									<div class="ad-edit-buttons"
										 ng-if="ad.status === 'WaitingApproval' ||
										  ad.status === 'Published'">
										<a class="btn btn-info ad-edit-buttons-link" data="{{ad.id}}"
										   ng-click="openModal(ad.id, 'Deactivate')">Deactivate</a>
									</div>
									<div class="ad-edit-buttons"
										 ng-if="ad.status === 'Inactive' || ad.status === 'Rejected' ">
										<a class="btn btn-info ad-edit-buttons-link" data="{{ad.id}}"
										   ng-click="openEditModal(ad.id)">Edit</a>
									</div>
									<div class="ad-edit-buttons"
										 ng-if="ad.status === 'Inactive' || ad.status === 'Rejected'">
										<a class="btn btn-info ad-edit-buttons-link" data="{{ad.id}}"
										   ng-click="openModal(ad.id, 'Publish again')">Publish
											<span class="avoidwrap">again</span></a>
									</div>
									<div class="ad-edit-buttons"
										 ng-if="ad.status === 'Inactive' || ad.status === 'Rejected'">
										<a class="btn btn-info ad-edit-buttons-link" data="{{ad.id}}"
										   ng-click="openModal(ad.id, 'Delete')">Delete</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>
		<div class="row">
			<div class="row pagination-div">
				<div class='col-lg-6 col-centered'>
					<dir-pagination-controls
							boundary-links="true" on-page-change="pageChanged(newPageNumber)"
							template-url="templates/dirPagination.tpl.html">
					</dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>
