<!-- Navigation box for anonymous site visitors -->
<div ng-if="!userIsLogged" class="navbar navbar-default" >
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-responsive-collapse">
		</button>
		<a class="navbar-brand" href="#/home/">Ads - Home</a>
	</div>

	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#/login/">Login</a></li>
			<li><a href="#/register/">Register</a></li>
		</ul>
	</div>
</div>