<div class="modal-header">
	<h3 class="modal-title">
		Are you sure you want to {{action.toLowerCase()}} this ad.
	</h3>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-lg-8">
			<h3 class="ad-title">{{currentAd.title}}</h3>
		</div>
		<div class="col-lg-4">
            <span class="text-info pull-right">
                {{currentAd.date | date:"EEE dd-MMM-yyyy"}}
            </span>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<img src="./img/no_image_available.svg"
				 ng-src="{{currentAd.imageDataUrl}}" alt="" class="ad-image img-responsive">
		</div>
		<div class="col-lg-8">
			<p class="well well-sm">
				{{currentAd.text}}
			</p>

			<div class="row">
				<div class="col-lg-3">
					<strong>Category:</strong>
				</div>
				<div class="col-lg-8 well well-sm">
					{{currentAd.categoryName ? currentAd.categoryName : 'Not available'}}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<strong>Town:</strong>
				</div>
				<div class="col-lg-8 well well-sm">
					{{currentAd.townName ? currentAd.townName : 'Not available'}}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-info" ng-click="ok()">{{action}}</button>
	<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>